* {
    color: darkblue;
    /* outline: 2px solid red; */
    padding: 10px;
    margin: 10px;
}
.the-title {
    color: black;
    font-weight: bold;
}
.awesome {
    font-style: italic;
    color: pink;
}
#heart {
    font-size: 60px;
}
