/* Set everything to border-box sizing. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* Set margin and padding to zero to override browser defaults. */
    margin: 0;
    padding: 0;

    color: blue;
    background-color: gray;
    font-family: monospace;
    /* outline: 2px solid red; */
    /* padding: 10px; */
}

#heart {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

a {
    color: darkblue;
}

.center, li, p, table{
    margin: 20px auto;
    width: 80%;
    max-width: 1500px;
}

body {
    min-width: 900px;
}

h1.heading {
    text-align: center;
}

.awesome {
    font-style: italic;
}

.subheading, .awesome {
    color: hotpink;
}
#heart {
    margin-left: 50px;
    font-size: 50px;
    /* color: red; */
}

.flex-container {
    display: flex;
}

.nav-column {
    flex: 1;
    border: 2px solid black;
    padding: 20px;
}

.column {
    padding: 20px;
    flex: 2;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    min-width: 120px;
    text-align: center;
}